
html, body {
	font-family: sans-serif;
	height: 100%;
}

html,
body,
.app,
.window-frame,
.window-content,
header,
header *,
main,
main * {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

header,
h1, h2, h3, h4, h5, h6,
li,
button {
	flex: 0 0 auto;
	flex-direction: row;
}

button {
	white-space: nowrap;
}

table { display: table; }
tr { display: table-row; }
td, th { display: table-cell; }
tbody, thead { display: table-row-group; }

.window-frame * {
	outline: none;
}

/* runaway processes */
.runaway-processes {
	display: block;
}
.runaway-processes > button {
	margin: 5px auto;
}
h2 {
	font-size: 1.5em;
	text-align: center;
	padding: 8px;
}
table {
	margin: auto;
}
td,
th {
	background: rgba(150, 150, 150, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px;
}
td > button,
th > button {
	margin: auto;
}



header {
	background: #E53C36;
	color: white;
	
	padding: 5px;
}

main {
	background: white;
	color: black;
	
	flex-direction: row;
}

.details {
	background: #FDECEB;
	padding: 5px;
}


li {
	padding: 2px 5px;
	list-style: none;
}
li > * {
	padding: 7px;
	height: 100%;
	line-height: 1;
}
.launcher {
	flex: 0;
	flex-basis: auto;
}
header button,
h2 button,
li button {
	background: none;
	color: inherit;
	border: 0;
}
.launcher,
.launcher > button {
	width: 32px;
	height: 32px;
	font-size: 32px;
}
.launcher,
.launcher > button {
	padding: 0;
	align-items: center;
}
.launcher {
	position: relative;
}
.launcher.menu-open {
	color: black;
	background: rgb(229, 248, 255);
	box-shadow: 1px 1px 1px rgba(24, 115, 115, 0.55);
}
.launcher.menu-open > button {
	outline: none;
}
.launcher.has-menu::after {
	content: "…";
	pointer-events: none;
	font-size: 0.6em;
	position: absolute;
	right: 2px;
	bottom: 2px;
}
.launcher-context-menu {
	position: fixed;
	z-index: 1;
	font-size: medium;
	color: black;
	background: rgb(229, 248, 255);
	box-shadow: 1px 1px 1px rgba(24, 115, 115, 0.55);
}
.launcher-context-menu:not(.open) {
	display: none;
}
.launcher-context-menu li {
	padding: 2px;
}
button.no-primary-action,
[disabled] {
	opacity: 0.2;
}
button > span {
	line-height: 1;
}
button > i {
	pointer-events: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	-webkit-transform: scale(0.75);
	margin: 0;
}
header .octicon-gear:before {
	vertical-align: middle;
}

.project-details {
	overflow: hidden;
}
.projects {
	overflow: auto;
}
ul.projects-list {
	display: table;
	width: 100%;
}
li.project {
	display: table-row;
}
li.project > * {
	display: table-cell;
	padding: 2px;
}
li.project > *:first-child {
	padding-left: 4px;
}
li.project > *:last-child {
	padding-right: 4px;
}
li.project > *:empty {
	width: 0;
	height: 0;
	padding: 0;
}
.projects * {
	vertical-align: middle;
}
.projects,
.no-projects {
	flex-basis: auto;
	flex-shrink: 10;
	flex-grow: 0.1;
}
.no-projects {
	padding: 15px;
	text-align: center;
}
.error {
	color: red;
}
.subtle-error {
	font-family: monospace;
	color: #aaa;
}

li.hover {
	background: rgba(25, 121, 202, 0.1);
}
li.active {
	background: rgba(25, 121, 202, 0.3);
}
li.selected {
	background: #328EFE;
	color: white;
}


.package-editor {
	display: block;
}
.package-editor .field {
	padding: 10px;
}
.package-editor .field-name {
	padding-bottom: 2px;
	color: #555;
}
.package-editor input {
	padding: 3px;
}

* {
	-webkit-user-select: none;
	cursor: default;
}
input,
textarea,
[contenteditable],
p, p > span,
code, code > span,
pre, pre > span,
table, tr,
td > span,
th > span,
.terminal,
.terminal > div,
.terminal span {
	-webkit-user-select: text;
	cursor: text;
}
pre {
	background: white;
	color: black;
	tab-size: 2;
	overflow: auto;
}
.terminal,
.terminal > div {
	display: block;
	background: inherit;
}
.terminal span {
	display: inline;
}
.terminal span.reverse-video {
	-webkit-filter: invert();
	background: inherit;
	color: inherit;
}
.terminal {
	font-family: monospace;
	line-height: 1;
	overflow: hidden;
}
.terminal-container,
.process,
.processes {
	flex: 1;
	/* Transitions are disabled because they interfere with the sizing of terminals */
	/*transition: flex .4s ease;*/
	background: black;
}
.terminal-container:empty,
.process:empty,
.processes:empty {
	flex: 0.00000001;
}
.process header > * {
	padding: 0 5px;
}
.window-frame button.close-process { /* for elementary styles */
	order: -1;
}
.process-exited {
	flex: 0 0 auto;
}

.non-elementary .button:not(.titlebutton) {
	padding: 2px 5px;
}

.non-elementary input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

/* elementary.css defines .linked styles, but we want it to be linked without elementary styles as well */
.non-elementary .linked > input:not(:last-child),
.non-elementary .linked > button:not(:last-child) {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.non-elementary .linked > input:not(:first-child),
.non-elementary .linked > button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
