
header {
	background: linear-gradient(to bottom, #77090f 1%,#701602 28%,#590901 60%,#420012 100%);
	color: white;
	border-bottom: 1px solid red;
}

.process ~ .process {
	border-top: 1px solid red;
}

main {
	background: #333;
	color: #f0f0f0;
}

pre {
	background: #111;
	color: #f0f0f0;
}

.project-details {
	background: #444 !important;
	color: #f0f0f0;
}

.settings {
	background: rgb(48, 48, 48);
	color: #f0f0f0;
}
td,
th {
	background: rgba(0, 0, 0, 0.1);
	border: 0;
}
th {
	box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.2) inset;
}
td {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 0.5);
}

.non-elementary .button:not(.titlebutton) {
	background: rgba(32, 32, 32, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.38);
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
	color: white;
}
.non-elementary .button:not(.titlebutton):focus {
	outline: none;
}
.non-elementary .button:not(.titlebutton):active {
	background: rgba(32, 32, 32, 1);
	border: 1px solid rgba(0, 0, 0, 0.38);
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
	color: white;
}
.non-elementary input {
	background: rgba(0, 0, 0, 0.1);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
