
main {
	background: #383e41; /* equals GraniteWidgetsWelcome background-color */
	color: #f0f0f0;
}

header {
	color: white;
	background: linear-gradient(to bottom, #3a4044, #2f3437);
	box-shadow: inset 0 0 0 1px rgba(78,87,91,.4);
	/*border-bottom: 1px solid #24282a; except it's bordering on darker colors, so this just makes it look fuzzy */
}
.app > header {
	border-bottom: 1px solid #24282a;
}
.process ~ .process {
	/*border-top: 1px solid #24282a; except it's bordering on darker colors, so this just makes it look fuzzy */
}

pre {
	background: #111;
	color: #f0f0f0;
}

.project-details {
	background: #323739 !important;
	color: rgb(107, 113, 123);
}
.no-project > h2 {
	color: rgb(107, 113, 123);
}

.settings {
	background: rgb(50, 55, 57);
	color: #f0f0f0;
}

td,
th {
	/*background: rgba(0, 0, 0, 0.1);
	border: 0;*/
	background: rgba(30, 31, 32, 0.13);
	border: 1px solid rgba(0, 0, 0, 0.2);
}
/*th {
	box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.2) inset;
}
td {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
}*/


.package-editor {
	background: #2D3235;
}
.package-editor .field-name {
	color: #ccc;
}

.tagged-input-wrapper {
	border-color: rgba(0, 0, 0, 0.2);
}
/*.tagged-input-wrapper .tag {
	background-color: #353B3E;
}*/
.tagged-input-wrapper .tag-text,
.tagged-input-wrapper .tagged-input {
	color: #ccc;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 0.5);
}
