
header {
	background: linear-gradient(to bottom, #77090f 1%,#701602 28%,#590901 60%,#420012 100%);
	color: white;
	border-bottom: 1px solid red;
}

.process ~ .process {
	border-top: 1px solid red;
}

main {
	background: #333;
	color: #f0f0f0;
}

pre {
	background: #111;
	color: #f0f0f0;
}

.project-details {
	background: #444 !important;
	color: #f0f0f0;
}

.settings {
	background: rgb(48, 48, 48);
	color: #f0f0f0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 0.5);
}
