
.titlebar {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	-webkit-app-region: drag;
	line-height: 40px;
}
.titlebutton {
	-webkit-app-region: no-drag;
	margin: 0 4px;
}
.titlebar .titlebutton {
	align-self: center;
}
.title {
	justify-content: center;
	display: flex;
	flex: 1;
	padding: 0;
	margin: 0;
}
.title > span {
	justify-content: center;
}
.window-frame:not(.popup):not(.menu) {
	margin: 0 !important;
	box-shadow: none !important;
}
.linked {
	display: flex;
	flex-direction: row;
	flex: 1;
}
GtkInfoBar {
	display: flex;
	align-items: center;
	flex-basis: 40px;
	padding: 0 10px;
}
GtkLabel {
	flex: 1;
}
GraniteWidgetsWelcome {
	text-align: center;
	justify-content: center;
	align-items: center;
}
GraniteWidgetsWelcome * {
	font-family: "Open Sans", sans-serif !important;
}
GraniteWidgetsWelcome button {
	width: 350px;
	margin-top: 10px;
	text-align: left;
	align-items: center;
	font-size: 1em;
}
GraniteWidgetsWelcome button:not(:hover) {
	border-color: transparent;
	background: transparent;
	box-shadow: none;
}
GraniteWidgetsWelcome button img {
	margin-right: 15px;
}
GraniteWidgetsWelcome GtkLabel {
	flex: 0 0 auto;
}
GraniteWidgetsWelcome .h3 {
	font-size: 15px;
	font-weight: 600;
}
.h1 {
	font-weight: normal;
}
.view {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-color: transparent;
	border-width: 1px 0 1px 0 !important;
}

.titlebar button.button.titlebutton i.octicon-gear {
	width: 22px;
	height: 22px;
	font-size: 22px;
}
