
.package-editor {
	display: block;
	overflow: auto;
}
.package-editor h1 > span {
	flex: 0 0 auto;
	vertical-align: baseline;
	display: inline-block;
	font-size: 1.3em;
	height: 10px;
	opacity: 0.3;
	text-shadow: 0 1px 1px black;
}
.package-editor h1 input,
.package-editor h1 .input {
	margin: 5px;
	border: 0;
	background: none;
	color: inherit;
	font-size: inherit;
	font-weight: normal;
}
.package-editor h1 .input {
	flex: auto 0 0;
}
.package-version .published {
	font-size: medium;
	-webkit-animation: flash-and-hide 1s ease;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	flex-basis: auto;
	flex-grow: 0;
	overflow: hidden;
	color: rgb(89, 163, 38);
}
@-webkit-keyframes flash-and-hide {
	0% { opacity: 1; flex-basis: 85px; }
	100% { opacity: 0; flex-basis: 0; }
}
.package-version {
	flex-direction: row;
	align-items: center;
}
.package-version .publish {
	margin-right: 5px;
}
.package-version .octicon {
	font-size: 8px;
	width: 8px;
	height: 8px;
}
.package-editor .field {
	padding: 10px;
}
.package-editor .field-name {
	padding-bottom: 2px;
	color: #555;
}
.package-editor input,
.package-editor .input {
	padding: 3px;
}
.package-editor .package-scripts td:nth-child(2) {
	width: 100%;
}
.package-editor .package-scripts td:nth-child(2) input {
	width: calc(100% - 8px);
}

.install-package.installing .octicon,
.reinstall-package.reinstalling .octicon,
.uninstall-package.uninstalling .octicon {
	-webkit-animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
	from { transform: rotate(0turn); }
	to { transform: rotate(1turn); }
}


.tagged-input-wrapper {
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #dadada;
	padding: 2px;
}

.tagged-input-wrapper .tagged-input {
	border: none;
	outline: none;
	background: none;
	display: inline-block;
}

.tagged-input-wrapper .tag {
	display: inline-block;
	padding: 2px 0px 2px 2px;
	border-radius: 2px;
	margin: 1px 2px;
}

.tagged-input-wrapper .tag-text {
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #333;
}


.tagged-input-wrapper .tag.duplicate {
	background: #FFDB7B;
}

.tagged-input-wrapper .tag .remove {
	color: #a0a0a0;
	padding: 0px 4px;
	font-size: 75%;
	line-height: 100%;
	cursor: pointer;
}

.tagged-input-wrapper .tag .remove:hover {
	color: #ddd;
}

.tagged-input-wrapper .tag .remove > .octicon-x {
	font-size: 8pt;
}

.tagged-input-wrapper .tag .remove,
.tagged-input-wrapper .tag .tag-text {
	display: inline-block;
}
