
html, body {
	font-family: sans-serif;
	height: 100%;
}

html, body, body, .app, header, main, header *, main * {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

main {
	flex-direction: row;
}

header, li {
	padding: 5px;
	flex: 0;
	flex-basis: auto;
	flex-shrink: 0;
	flex-direction: row;
}
li {
	list-style: none;
	align-items: center;
	padding: 0;
}
li > * {
	padding: 5px;
	height: 100%;
	line-height: 1;
}
button {
	flex: 0;
	flex-basis: auto;
}
header button,
h2 button,
li button {
	background: none;
	color: inherit;
	border: 0;
}
li > button {
	padding: 0;
	width: 32px;
	height: 32px;
	font-size: 32px;
	text-align: center;
	align-items: center;
}
button > span {
	line-height: 1;
}
header .octicon-gear:before {
	vertical-align: middle;
}


[disabled] {
	opacity: 0.1;
}
ul {
	overflow: auto;
}
.projects,
.projects-read-error {
	flex-basis: auto;
	flex-shrink: 10;
	flex-grow: 0.1;
}
.projects-read-error {
	padding: 15px;
	text-align: center;
}
.error {
	color: red;
}
.subtle-error {
	font-family: monospace;
	color: #aaa;
}

li:hover,
li:focus {
	background: rgba(25, 121, 202, 0.1);
}
li:active {
	background: rgba(25, 121, 202, 0.3);
}
li.active {
	background: #328EFE;
	color: white;
}

header {
	background: #E53C36;
	color: white;
}

.details {
	background: #FDECEB;
	padding: 5px;
}

* {
	-webkit-user-select: none;
	cursor: default;
}
input,
textarea,
[contenteditable],
p, p > span,
code, code > span,
pre, pre > span {
	-webkit-user-select: text;
	cursor: text;
}
pre {
	background: white;
	color: black;
	tab-size: 2;
	overflow: auto;
}

.settings-container,
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.overlay {
	background: rgba(0, 0, 0, 0.3);
}
.settings {
	position: absolute;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
	padding: 15px;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}
.settings h2 {
	margin-top: 0;
	/*padding-bottom: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}
.settings-container,
.settings,
.overlay {
	transition: all 0.5s ease;
}
.settings-container:not(.visible) {
	pointer-events: none;
	opacity: 0;
}
.settings-container {
	perspective: 5000px;
	overflow: hidden;
}
.settings-container:not(.visible) .settings {
	/*-webkit-transform: scale(0.9) rotateY(-50deg) translate(350px, -100px);*/
	/*-webkit-transform: translate(350px, -200px) scale(0.4) rotateY(-50deg);*/
	/*-webkit-transform: scale(0.9) rotateZ(-5deg) rotateX(-50deg) rotateY(-50deg);*/
	/*-webkit-transform: scale(0.9) rotateX(200deg);*/
	-webkit-transform: scale(1.5) rotateY(0.5turn);
	/*-webkit-transform: scale(1.5) rotateX(1turn);*/
}
.setting {
	display: flex;
	align-items: center;
	padding: 10px;
}
.setting * {
	padding: 5px;
}
.setting input:not([type]),
.setting input[type=text] {
	flex: 1;
}

